body {
    margin: 0;
    background-color: $secondary-text-color;
    font-family: Roboto, sans-serif;
    color: $primary-text-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}